.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 100%;
}

.SearchIcon
{
    color:#fff;

}
.SearchButton
{
    background-color:#ED1C24;
    border-radius:1px;
}

.SearchButton:hover{
    background-color:#C4161C;
}

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}
